<nav class="navbar navbar-dark bg-dark">
        <span class='navbar-text'>  Cadastro de Usuários </span>
            <span class="nav">
            <span class='nav-item'><%= link_to 'User List', users_path, class: 'nav-link' %></li>
                </span>

            </span>
</nav>